/* this css file will only style the homepage of our site */

.cat-photo {
  
  /*! margin-left: 50%; */
  /*! margin-right: 50%; */
  max-width: 500px;
  border: inset 4px #282828;
  /*! align-self: ; */
  position: relative;
  /*display: grid; */
  left: 50%;
  margin-bottom: -15px;
  margin-top: 10px;
  /*! left: 15%; */
  display: grid;
  transform: translate(-49%,-10%);
}
.blood-gif {

  max-width: 1750px;

  /*! flex-shrink: inherit; */
  /*! flex-basis: inherit; */
  /*! box-sizing: content-box; */
  max-height: 24px;
  /*! min-width: 1600px; */
  transform: translate(-2%,0%);
  display: flex;
  transform: translateX(-2%);
}

.mwah-gif {

  max-width: 300px;
  max-height: 40px;
  position: relative;
  left: 40%;
  margin-top: 10px;
}
.love-gif {

  max-width: 300px;
  max-height: 40px;
}

.gir-gif {
  max-width: 200px;
  max-height: 200px;
  position: relative;
  /*display: grid; */
  margin-top: 30px;
  left: 50%;
  transform: translate(-50%,0);
  margin-bottom: -15px;
}
.snail-gif {
  position: relative;
  transform: translate(150%,25%);
  max-width: 50px;
  max-height: 50px;
}
.puter-gif {
  position: relative;

  width: 32px;
  height: 32px;
}
.pink-heart-bg{
  width: 1500px;
  height: 850px;
}
.ss-photo {

  max-width: 500px;
  border: inset 4px #282828;
  position: relative;
  left: 50%;
  margin-bottom: -15px;
  margin-top: 10px;
  display: grid;
  transform: translate(-49%,-10%);
}