/* this css file will only style the homepage of our site */

.cat-photo {
  
  /*! margin-left: 50%; */
  /*! margin-right: 50%; */
  margin-top: 30px;
  max-width: 500px;
  border: inset 4px #282828;
  /*! align-self: ; */
  position: relative;
  /*display: grid; */
  left: 50%;
  transform: translate(-50%,0);
  margin-bottom: -15px;
}
.blood-gif {

  max-width: 1605px;

  /*! flex-shrink: inherit; */
  /*! flex-basis: inherit; */
  /*! box-sizing: content-box; */
  max-height: 24px;
}

.mwah-gif {

  max-width: 300px;
  max-height: 40px;
  position: relative;
  left: 40%;
  margin-top: 10px;
}
.love-gif {

  max-width: 300px;
  max-height: 40px;
}
.gir-gif {
  max-width: 200px;
  max-height: 200px;
  position: relative;
  /*display: grid; */
  margin-top: 30px;
  left: 50%;
  transform: translate(-50%,0);
  margin-bottom: -15px;
}