/* we can use a single css file to style all the files in our wwebsite */

/* you can pick your own background colors, text colors, and fonts */

/* we can select an html element tag, in this case "body" will apply to the whole document */
body {
  background-color: #000000;
  /*! padding-left: 20px; */
  /*! padding-right: 20px; */
  /*! border: #a30808; */
  /*! border-width: 8px; */
  /*! display: flex; */
  /*! max-inline-size: 1576px; */
  /*! max-block-size: 1576px; */
  max-width: 1680px;
  border-bottom: solid 5px #940000;
  border-left: solid 5px #940000;
  border-right: solid 6px #940000;
}



/* we can have rules apply to multiple elements at the same time with commas */
h1,h2 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

/* and we can have rules that overlap other rules, both take effect */
h1 {
  text-align: center;
  word-spacing: 7px;
  font-size: 350%;
  color: #a30808;
  margin-top: 25px;
  width: fit-content;
  /*! margin-left: 30.3%; */
  position: relative;
  left: 50%;
  transform: translate(-50%, 0%);
}
h2 {
  text-align: center;
  letter-spacing: 3px;
  word-spacing: 3px;
  font-size: 250%;
  color: #000000;
  /*! margin: 20px ; */
  display: grid;
  position: relative;
  left: 50%;
  transform: translate(-50%,0%);
  margin-top: 20px;
  margin-bottom: 20px;
}
h3 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
  letter-spacing: 1px;
  word-spacing: 1px;
  font-size: 125%;
  color: #000000;
  /*! margin-bottom: 55px; */
  display: grid;
  position: relative;
  left: 50%;
  transform: translate(-50%,0);
  margin-bottom: 35px;
  margin-top: -15px;
}
/* the hashtag in a CSS selector selects an element by id, e.g., id="content" */
 /* #content {
  /*! margin: 25px; */
  /*! padding-bottom: 26px; */
  /*! border: solid 3px #940000; */
  /*! background-color: #A3C9A8; */


/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
.minor-section {
  /*! align-items: center; */
  /*! align-content: center; */
  margin-bottom: 10px;
  /*! border: solid 1px #888; */
  background-color: #A3C9A8;
  display: grid;
  position: relative;
  /*! width: unset; */

}
.output {
  columns: 33% 3;
  align-items: center;
  align-content: center;
  margin-bottom: 10px;
  border: solid 1px #888;
  background-color: #A3C9A8;

}
.center {
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  /*! padding: 5px; */
  display: flex;
}
.button {
  background-color: #999999; 
  color: white;
  padding: 12px 15px;
  text-align: center;
  text-decoration: none;
  display: grid;
  font-size: 24px;
  font-family:'Courier New', Courier, monospace;
  border-radius: 15px;
  box-shadow: 0 9px #727272;
  /*! margin-left: 45% ; */
  /*! align-self: center; */
  position: relative;
  left: 45%;
  margin-bottom: 30px;
}

.button:hover {background-color: #d7c3c3}

.button:active {
  background-color: #6e6e6e;
  box-shadow: 0 5px #414141;
  transform: translateY(4px);
}

nav ul {
  column-count: 12;
  column-fill: balance;
  list-style-type: none;
  margin: 10px; 
  margin-top: 0px;
  /*! padding-left: 20px; */
  padding: 10px;
  background: black;
  border-top: #a30808;
  border-top-width: 5px;
  /*! display: ; */
  /*! width: 1536px; */
  /*! column-width: 8%; */
  column-rule: #a30808;
  column-rule-width: medium;
}

nav ul a {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 29px;
  color: rgb(225, 15, 0);
  cursor:crosshair;
  margin-right: 15px;
  margin-left: 15px;
}