/* we can use a single css file to style all the files in our wwebsite */

/* you can pick your own background colors, text colors, and fonts */

/* we can select an html element tag, in this case "body" will apply to the whole document */
body {
  background-color: #b50000;
}



/* we can have rules apply to multiple elements at the same time with commas */
h1,h2,h3 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

/* and we can have rules that overlap other rules, both take effect */
h1 {
  text-align: center;
  word-spacing: 5px;
  font-size: 300%;
  color: #a30808;
}
h2 {
  text-align: center;
  letter-spacing: 3px;
  word-spacing: 3px;
  font-size: 250%;
  color: #000000;
}
h3 {
  text-align: center;
  letter-spacing: 3px;
  word-spacing: 3px;
  font-size: 220%;
  color: #000000;
}
/* the hashtag in a CSS selector selects an element by id, e.g., id="content" */
#content {
  margin: 10px;
  padding: 10px;
  border: solid 3px #9d0000;
  background-color: #000000;
}

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
.minor-section {
  align-items: center;
  align-content: center;
  padding: 10px;
  margin-bottom: 10px;
  border: solid 1px #888;
  background-color: #A3C9A8;
}
